.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(55, 64, 116);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.login-card {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.img-container {
    display: flex;
    justify-content: center;
}

.confirm-btn,
.login-danger {
    margin-top: 50px !important;
}

.appointments-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/*override material ui*/

a.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-colorInherit:hover,
a.MuiTypography-root.makeStyles-title-3.MuiTypography-h6:hover {
    color: white;
}

a {
    text-decoration: none !important;
}


/*override bootstrap*/

input {
    border-radius: 0 !important;
}

.navbar {
    height: 60px;
}


/*spinner*/

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}