.white-container {
    background-color: white;
    padding: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {}


/*override material ui*/

a.MuiButton-text:hover {
    color: white !important;
}

a {
    text-decoration: none !important;
}